a {
    text-decoration: none;
    color: blue;
}
a:hover{
    color: midnightblue;
}
h1{
    color:white;
    background: blue;
}
h2{
    color: red;
    background: yellow;
}
p{
    color: purple;
}